<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jp.common.pay.dao.customized.OrderDetailCustomizedMapper">

    <select id="getDetectProjectInfo" resultType="java.util.HashMap">
        select id, product_thumbnail, project_name from jp_detect_project where id = #{0}
    </select>
</mapper>